/* Register.css */
.mainsign{
  display: flex;
  justify-content: center;
}
.containersign{
  margin-top: 3%;

  /* margin: 50px auto; */
  /* padding: 20px; */
  /* border: 1px solid blue; */
  width:35vw;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
  
  .containersign h2 {
    margin-bottom: 20px;
    color: green;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  label {
    /* margin: 10px 0 5px; */
    font-weight: bold;
    text-align: left;
  
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 20%;
    /* margin-right:30%; */
  
 
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    color: red;
    font-size: 14px;
  }
  .radio>label{

    /* border: 1px solid green; */
   margin-left: 36%;

  }
  .radio1>label{
    /* border: 1px solid blue; */
   margin-left: 36%;
    
  }
  
  @media screen and (width<576px){

    .containersign{
      width: 70%;
      height: 12%;
      margin: 50px auto;
      padding: 20px;
      border: 1px solid #ddd;
 text-align: center;
    }
    
    .containersign h2 {
      margin-bottom: 20px;
      color: green;
      text-align: center;
      font-size: 1rem;
    }
    
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    }
      
    .radio>label{

      /* border: 1px solid green; */
     margin-left: 10%;
  
    }
    .radio1>label{
      /* border: 1px solid blue; */
     margin-left: 9%;
      
    }
    button {
      margin-top: 20px;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 12px;
      cursor: pointer;
      /* width: 25%; */
    
      /* margin-right:30%; */
    
   
    }

  }
 